body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #777;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#announcementList li {
    margin-bottom: 20px; /* 調整條目之間的垂直間距 */
}

#announcementList strong {
    display: block; /* 讓標題和內容顯示為區塊元素，這樣它們會在不同行 */
    margin-bottom: 5px; /* 調整標題和內容之間的垂直間距 */
}

