body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo {
    height: 50px; 
    margin-right: 20px; 
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #777;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#announcementList li {
    margin-bottom: 20px; /* 調整條目之間的垂直間距 */
}

#announcementList strong {
    display: block; /* 讓標題和內容顯示為區塊元素，這樣它們會在不同行 */
    margin-bottom: 5px; /* 調整標題和內容之間的垂直間距 */
}

.slider {
    width: 80%; /* 或你想要的任何適合的寬度 */
    margin: auto; /* 如果你想讓滑動窗格居中 */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.slide img {
    width: auto; /* 讓圖片寬度自適應 */
    max-width: 100%; /* 最大寬度為容器寬度 */
    max-height: 300px; /* 最大高度，可以根據需要調整 */
    height: auto; /* 保持圖片比例 */
    display: block;
    object-fit: contain; /* 保持圖片原始比例 */
}
.slide p {
    font-size: 16px; /* 文字大小 */
    color: #333; /* 文字顏色 */
    text-align: center; /* 文字置中 */
    margin-top: 10px; /* 在圖片和文字之間添加一些間距 */
}
#logoutButton {
    background-color: #d9534f;
    color: white;
    padding: 12px 24px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}



